/********************************************************************
 /css/setup/wifiSetup.css
 ********************************************************************/
body {
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 3.5vw;
  --bodyBackgroundColor: white; 
  --titleBackgroundColor: darkblue; 
  --titleForegroundColor: white; 
  --titleShadowColor: #D32F2F; 
  --titleSize: 18px; 
  --foregroundColor: darkblue; 
  --backgroundColor: #E8EAF6; 
  --highlightedForegroundColor: white; 
  --highlightedBackgroundColor: #3F51B5; 
  --offlineForegroundColor: silver;
  --inputColor: #1976D2; 
  --size: 14px;
}

#APSetup {
  width: 100vw;
}

#APSetup[mode="Listing"] #APSetupListing table {
  display: table;
}
#APSetup[mode="Form"] #APSetupListing table {
  display: none;
}
#APSetup[mode="Listing"] #APSetupForm table {
  display: none;
}
#APSetup[mode="Form"] #APSetupForm table {
  display: table;
}


/* #APSetupHeading */

  div#APSetupHeading {
    padding: 2px;
  }

  div#APSetupHeading table {
    width: 100%;
    border-collapse: collapse;
  }

  div#APSetupHeading table tr:nth-child(1) th:nth-child(1) {
    border-top-left-radius: 4vw;
  }

  div#APSetupHeading table tr:nth-child(1) th:nth-child(3) {
    border-top-right-radius: 4vw;
  }

  div#APSetupHeading table tr:nth-child(4) th:nth-child(1) {
    border-bottom-left-radius: 4vw;
  }

  div#APSetupHeading table tr:nth-child(4) th:nth-child(2) {
    border-bottom-right-radius: 4vw;
  }

  div#APSetupHeading table th {
    background-color: var(--titleBackgroundColor);
    color: var(--titleForegroundColor);
    padding: 0;
  }

  /* Back Button */
  div#APSetupHeading table tr:nth-child(1) th:nth-child(1) {
    width: 20%;
    background-size: 8vw;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/img/wifiSetup/backButton.png');
  }
  
  /* Scanning Icon */
  div#APSetupHeading table tr:nth-child(1) th:nth-child(3) {
    width: 20%;
    background-size: 8vw;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 2.5vw;
    text-shadow: none;
    text-align: center;
  }
  div#APSetupHeading table[scanning="1"] tr:nth-child(1) th:nth-child(3) {
    background-image: url('/img/wifiSetup/scanning.gif');
  }
  div#APSetupHeading table[scanning="0"] tr:nth-child(1) th:nth-child(3) {
    background-image: url('/img/wifiSetup/scanNow.png');
  }

  /* WIFI SETUP */
  #APSetupHeading table tr:nth-child(1) th {
    width: 60%;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: larger;
    text-shadow: 1pt 1pt var(--titleShadowColor);
  }

  #APSetupHeading table tr:nth-child(1) th:nth-child(2):after {
    content: "WIFI SETUP";
  }

  /* status */
  #APSetupHeading table tr:nth-child(2) th:after {
    content: var(--status);
  }


  /* localIP */
  #APSetupHeading table tr:nth-child(3) th {
    padding-bottom: 6px;
  }

  #APSetupHeading table tr:nth-child(3) th {
    font-family: monospace;
    width: 50%;
  }
  #APSetupHeading table tr:nth-child(3) th:nth-child(1):after {
    content: var(--macAddress);
  }
  #APSetupHeading table tr:nth-child(3) th:nth-child(2):after {
    content: var(--localIP);
  }

/* #APSetupListing */

  #APSetupListing,
  #APSetupForm {
    padding: 2px;
  }

  div#APSetupListing table,
  div#APSetupForm table {
    width: 100%;
    border-collapse: collapse;
  }

  /* Generic TD */
  div#APSetupListing table td {
    background-color: var(--backgroundColor);
    color: var(--foregroundColor);
    border-top: solid 2.5pt var(--bodyBackgroundColor);
  }

  #APSetupListing table tr td:nth-child(1) {
    border-top-left-radius:  4vw;
    border-bottom-left-radius: 4vw;
    width: 6vw;
  }

  #APSetupListing table tr td:nth-child(4) {
    border-top-right-radius: 4vw;
    border-bottom-right-radius: 4vw;
    width: 6vw;
  }

  /* connectedNow TR */
  div#APSetupListing table tr[connectedNow="1"] td {
    color: var(--highlightedForegroundColor);
    background-color: var(--highlightedBackgroundColor);
  }

  /* offline () */
  div#APSetupListing table tr[currentScanIndex="-1"] td {
    color: var(--offlineForegroundColor);
  }

  /* Star Column (1st) */
  div#APSetupListing table td:nth-child(1) {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 10px;
    text-align: center;
    background-image: none;
  }

  /* Do Not Connect if Available */
  div#APSetupListing table tr[ConnectIfAvailable="0"] td:nth-child(1) {
    background-image: none;
  }

  div#APSetupListing table td:nth-child(1) {
    background-image: url('/img/wifiSetup/starEB.png');
  }

  div#APSetupListing table tr[connectIfAvailable="1"][preferredAP="1"] td:nth-child(1) {
    background-image: url('/img/wifiSetup/starYB.png');
  }

  div#APSetupListing table tr[connectIfAvailable="1"][preferredAP="0"][connectedNow="1"][connectIfAvailable="1"] td:nth-child(1) {
    background-image: url('/img/wifiSetup/starEW.png');
  }

  div#APSetupListing table tr[connectIfAvailable="1"][preferredAP="1"][connectedNow="1"] td:nth-child(1) {
    background-image: url('/img/wifiSetup/starYW.png');
  }

  div#APSetupListing table tr[connectIfAvailable="1"][preferredAP="1"][connectedNow="0"][currentScanIndex="-1"] td:nth-child(1) {
    background-image: url('/img/wifiSetup/starYS.png');
  }

  div#APSetupListing table tr[connectIfAvailable="1"][preferredAP="0"][connectedNow="0"][currentScanIndex="-1"] td:nth-child(1) {
    background-image: url('/img/wifiSetup/starES.png');
  }

  /* SSID */
  div#APSetupListing table tr td:nth-child(2) div:nth-child(1) {
    font-weight: bold;
    text-align: left;
    padding: 2px;
  }

  div#APSetupListing table tr td:nth-child(2) div:nth-child(1):after {
    content: var(--SSID);
  }

  /* macAddress */
  div#APSetupListing table tr td:nth-child(2) div:nth-child(2) {
    font-family: monospace;
    font-weight: normal;
    text-align: right;
    padding: 2px;
  }

  div#APSetupListing table tr td:nth-child(2) div:nth-child(2):after {
    content: var(--macAddress);
  }

  /* Signal Strength */
  div#APSetupListing table td:nth-child(3) div:nth-child(1) {
    font-weight: normal;
    text-align: left;
    padding: 2px;
  }

  div#APSetupListing table td:nth-child(3) div:nth-child(1):after {
    content: var(--signalStrength);
  }

  div#APSetupListing table tr[currentScanIndex="-1"] td:nth-child(3) div:nth-child(1):after {
    content: "";
  }

  /* Encryption Type */
  div#APSetupListing table td:nth-child(3) div:nth-child(2) {
    font-weight: normal;
    text-align: right;
    padding: 2px;
  }

  div#APSetupListing table td:nth-child(3) div:nth-child(2):after {
    content: var(--encryptionType);
  }

  div#APSetupListing table tr[currentScanIndex="-1"] td:nth-child(3) div:nth-child(2):after {
    content: "";
  }

  /* Lock Column (4th) */
  div#APSetupListing table td:nth-child(4) {
    background-image: url('/img/wifiSetup/lockedBlue.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 10px;
    text-align: center;
    vertical-align: center;
  }

  div#APSetupListing table tr[connectedNow="1"] td:nth-child(4) {
    background-image: url('/img/wifiSetup/lockedWhite.png');
  }

  div#APSetupListing table tr[passwordKnown="1"] td:nth-child(4) {
    background-image: url('/img/wifiSetup/unlockedB.png');
  }

  div#APSetupListing table tr[passwordKnown="1"][connectedNow="1"] td:nth-child(4) {
    background-image: url('/img/wifiSetup/unlockedW.png');
  }

  div#APSetupListing table tr[passwordKnown="1"][connectedNow="0"][currentScanIndex="-1"] td:nth-child(4) {
    background-image: url('/img/wifiSetup/unlockedS.png');
  }

  div#APSetupListing table tr[passwordKnown="0"][connectedNow="0"][currentScanIndex="-1"] td:nth-child(4) {
    background-image: url('/img/wifiSetup/lockedSilver.png');
  }

  div#APSetupListing table tr[passwordFailed="1"] td:nth-child(4) {
    background-image: url('/img/wifiSetup/lockedRed.png');
  }

  div#APSetupListing table tr[encryptionType="7"] td:nth-child(4) {
    background-image: url('/img/wifiSetup/unlockedB.png');
  }

  div#APSetupListing table tr[encryptionType="7"][connectedNow="1"] td:nth-child(4) {
    background-image: url('/img/wifiSetup/unlockedW.png');
  }

  div#APSetupListing table tr[encryptionType="7"][currentScanIndex="-1"] td:nth-child(4) {
    background-image: url('/img/wifiSetup/unlockedS.png');
  }


/* #APSetupForm */

  /* Generic TD */
  div#APSetupForm table td {
    background-color: var(--backgroundColor);
    color: var(--foregroundColor);
    padding-top: 1vw;
    text-align: center;
  }

  /* Time Parameters TD */
  div#APSetupForm table tr:nth-child(4) td {
    text-align: left;
    font-weight: bold;
  }

  div#APSetupForm input {
    font-family: monospace;
    color: var(--inputColor);
    font-size: 3.5vw;
    font-weight: bold;
  }

  div#APSetupForm input[type="button"] {
    font-family: arial;
    background-color: var(--titleBackgroundColor);
    color: var(--titleForegroundColor);
    padding: 2vw;
    border: none;
    border-radius: 2vw;
  }

  div#APSetupForm table tr:nth-child(1) td:nth-child(1) {
    padding-top: 4vw;
    padding-bottom: 3vw;
    border-top-left-radius: 8vw;
    border-top-right-radius: 8vw;
    font-weight: bold;
    font-size: 5vw;
    background-color: var(--highlightedBackgroundColor);
    color: var(--titleForegroundColor);
  }

  div#APSetupForm table tr:nth-child(2) td {
    padding-top: 4vw;
  }

  div#APSetupForm table tr:nth-child(3) td {
    font-weight: bold;
  }

  div#APSetupForm table tr:nth-child(4) td {
    text-decoration: underline;
  }

  div#APSetupForm table tr:nth-child(8) td {
    padding-top: 6vw;
    padding-bottom: 3vw;
    border-bottom-left-radius: 8vw;
    border-bottom-right-radius: 8vw;
  }








/* mode=PasswordForm */
table#APSetup[mode="PasswordForm"] tr:nth-child(3) td, table#APSetup[mode="PasswordForm"] tr:nth-child(4) td, table#APSetup[mode="PasswordForm"] tr:nth-child(5) td, table#APSetup[mode="PasswordForm"] tr:nth-child(6) td, table#APSetup[mode="PasswordForm"] tr:nth-child(7) td, table#APSetup[mode="PasswordForm"] tr:nth-child(8) td, table#APSetup[mode="PasswordForm"] tr:nth-child(9) td {
  background-color: transparent;
  background-image: none;
  padding-top: 6px;
}

table#APSetup[mode="PasswordForm"] tr:nth-child(9) td {
  padding-top: 24px;
}

/* Connect If Available */
table#APSetup #connectIfAvailableTD {
  font-weight: bold;
}

/* Time Variables */
table#APSetup[mode="PasswordForm"] td {
  text-align: center;
}

table#APSetup[mode="PasswordForm"] #TimeParameters {
  font-weight: bold;
  text-align: left;
  text-decoration: underline;
}

td#TimeParameters:after {
  content: "Time Parameters";
}

input#timeIP0, input#timeIP1, input#timeIP2, input#timeIP3 {
  text-align: center;
  width: 10vw;
}

input#timeHost,
input#timeURL {
  width: 80vw;
}

