.customSpinner {
  display: table;
  font-family: arial;
  font-size: 14pt;
  margin: 2pt;
}
.customSpinner div {
  display: table-cell;
}
.customSpinner div:nth-child(1), .customSpinner div:nth-child(2),
.customSpinner div:nth-child(4), .customSpinner div:nth-child(5) {
  border: solid 1pt rgba(192, 192, 192, .6);
  background-color: rgba(192, 192, 192, .6);
  cursor: pointer;
  user-select: none
}
.customSpinner div:nth-child(1) {
  border-top-right-radius: 8pt;
  border-bottom-right-radius: 8pt;
  background-image: url(/img/doubleSpinnerArrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 14px;
  background-origin: border-box;
  transform: rotate(180deg);
  padding-left: 6px;
  padding-right: 6px;
  background-position-x: center;
}
.customSpinner div:nth-child(2) {
  background-image: url(/img/spinnerArrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 14px;
  background-origin: border-box;
  transform: rotate(180deg);
  padding-left: 6px;
  padding-right: 6px;
  background-position-x: center;
}
.customSpinner div:nth-child(4) {
  background-image: url(/img/spinnerArrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 14px;
  background-origin: border-box;
  transform: rotate(0deg);
  padding-left: 6px;
  padding-right: 6px;
  background-position-x: center;
}
.customSpinner div:nth-child(5) {
  border-top-right-radius: 8pt;
  border-bottom-right-radius: 8pt;
  background-image: url(/img/doubleSpinnerArrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 14px;
  background-origin: border-box;
  transform: rotate(0deg);
  padding-left: 6px;
  padding-right: 6px;
  background-position-x: center;
}
.customSpinner div:nth-child(1):hover, .customSpinner div:nth-child(2):hover {
  background-color: #EF9A9A;
}
.customSpinner div:nth-child(1):active, .customSpinner div:nth-child(2):active {
  background-color: #F44336;
}
.customSpinner div:nth-child(4):hover, .customSpinner div:nth-child(5):hover {
  background-color: purple;
}
